<div class="row post-top-meta">
	<div class="col-md-2">
		<a href="author"><img class='img-fluid' class="author-thumb" src={{ include.author_image }} alt="Sal"></a>
	</div>
	<div class="col-md-10">
		<a class="link-dark" href="author">{{ include.author_name }}</a><a href="#" class="btn follow">Subscribe</a>
		<span class="author-description">{{ include.author_description }}</span>
		<span class="post-date">{{ include.date }}</span>
		<span class="dot"></span>
		<span class="post-read">{{ include.words }}</span>
		<span class="dot"></span>
		<span class="post-read">{{ include.time }}</span>
	</div>
</div>