<div class="col-md-2 col-xs-12">
	<div class="share">
		<p>
			Share
		</p>
		<ul>
			<li>
				<a>
					<span class="fa-stack fa-1x">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
					</span>	
				</a>
			</li>
			<li>
				<a target="_blank" href="https://twitter.com/home?status=http%3A//www.wowthemes.net">
					<span class="fa-stack fa-1x">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
					</span>	
				</a>
			</li>
			<li>
				<a target="_blank" href="https://twitter.com/home?status=http%3A//www.wowthemes.net">
					<span class="fa-stack fa-1x">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-pinterest-p fa-stack-1x fa-inverse"></i>
					</span>	
				</a>
			</li>
			<li>
				<a target="_blank" href="https://twitter.com/home?status=http%3A//www.wowthemes.net">
					<span class="fa-stack fa-1x">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-google fa-stack-1x fa-inverse"></i>
					</span>	
				</a>
			</li>
		</ul>
		<div class="sep">
		</div>
	</div>
</div>