
<section class="recent-posts">
	<div class="section-title">
		<h2><span>Most Popular</span></h2>
	</div>
	<div class="card-columns listrecent">
		{% for post in site.posts %}
				{% if post.categories contains include.tagg %}
		{% assign author = site.data.authors[post.author] %}
		{% assign date =  post.date | date_to_string  %}
		{% assign desc =  post.content | strip_html %}
		{% assign trunc = desc | truncatewords: 100 %}
		{% capture words %}
		{{ post.content | number_of_words | append: " words" }}
		{% endcapture %}
		{% capture time %}
		{{ words | plus: 250 | divided_by: 180 | append: " minute read" }}
		{% endcapture %}
		{% include medium_post_card.html 
			title=post.title
			author=author
			image=post.image
			lede=trunc
			date=date
			href=post.permalink
			words=words
			time=time %}
			{% endif %}
			{% endfor %}
		</div>
	</section>
