<!DOCTYPE html>
<html lang="en">
{% include medium_head.html %}
<body>
	{% include medium_nav.html %}
	<div class="container">
		<div class="mainheading">
			<h1 class="sitetitle">Enthrone</h1>
			<p class="lead">
				Be the best human that you can be
			</p>
		</div>
		<section class="recent-posts">
			<div class="section-title">
				<h2><span>Workouts</span></h2>
			</div>
			<div class="card-columns listrecent">

				{% capture tag %}{{ page.title | slugify }}{% endcapture %}

				{% for post in site.posts limit: 10 %}
				{% if post.categories contains tag %}

				{% assign author = site.data.authors[post.author] %}
				{% assign date =  post.date | date_to_string  %}
				{% assign desc =  post.content | strip_html %}
				{% capture words %}
				{{ post.content | number_of_words | append: " words" }}
				{% endcapture %}
				{% capture time %}
				{{ words | plus: 250 | divided_by: 180 | append: " minute read" }}
				{% endcapture %}
				{% include medium_post_card.html 
					title=post.title
					author=author
					image=post.image
					lede=desc
					date=date
					href=post.permalink
					words=words
					time=time %}
					{% endif %}
				{% endfor %}
				
				</div>
			</section>
		</div>
	</section>
	<div class="hideshare"></div>
	{% include medium_alert.html %}
	{% include medium_footer.html %}
	{% include scripts.html %}
</body>
</html>
<div class="infinite-spinner"></div>