<!DOCTYPE html>
<html lang="en">
{% include medium_head.html %}
<body>
	{% include medium_nav.html %}
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Enthrone</h1>
		<p class="lead">
			 Be The Best Human That You Can Be
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	{% include medium_featured.html %}
	<!-- End Featured
	================================================== -->

	<!-- Begin List Posts
	================================================== -->

	</div>
	</section>
		<div class="hideshare"></div>
		{% include medium_alert.html %}
		{% include medium_footer.html %}
		{% include scripts.html %}
</body>
</html>
