{% assign author = site.data.authors['jack'] %}
<!doctype html>
<html lang="en" ⚡>
{% include medium_head.html %}
<body>
	{% include medium_nav.html %}
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 col-md-offset-2">
				<div class="mainheading">
					<div class="row post-top-meta authorpage">
						<div class="row post-top-meta">
							<div class="col-md-3">
								<img class='img-fluid' class="author-thumb" src="/assets/img/author.jpg">
							</div>
							<div class="col-md-9">
								<a class="link-dark" href="author">{{ author.name }}</a>
								<span class="author-description">{{ author.about }}</span>
								<a href="#" class="btn follow">Subscribe</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- End Top Author Meta
	================================================== -->

<!-- Begin Author Posts
	================================================== -->
	<section class="recent-posts">
			<div class="section-title">
				<h2><span>{{page.title}}</span></h2>
			</div>
			<div class="card-columns listrecent post-list">

				{% capture tag %}{{ page.title | slugify }}{% endcapture %}
				{% for post in site.posts limit:10 %}
				{% if post.author == "jack" %}
				{% assign author = site.data.authors[post.author] %}
				{% assign date =  post.date | date_to_string  %}
				{% assign desc =  post.content | strip_html %}
				{% capture words %}
				{{ post.content | number_of_words | append: " words" }}
				{% endcapture %}
				{% capture time %}
				{{ words | plus: 250 | divided_by: 180 | append: " minute read" }}
				{% endcapture %}
				{% include medium_post_card.html 
					title=post.title
					author=author
					image=post.image
					lede=post.lede
					date=date
					href=post.permalink
					words=words
					time=time %}
					{% endif %}
				{% endfor %}
				
				</div>
			</section>
	<div class="hideshare"></div>
	{% include medium_alert.html %}
	{% include medium_footer.html %}
	{% include scripts.html %}
	</div>
</body>
</html>
